<!doctype html>
<html lang="en">
<head>
    <title>Flask Todo Api</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/styles/main.css" type="text/css">
    <link rel="icon" href="/static/img/todo-list-favicon.png" type="image/png">
</head>
<body>

<h1>My TODOs!</h1>

<div id="app">
    <todo-app></todo-app>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="/static/scripts/dist/todo-app.js"></script>
</body>
</html>
