<!doctype html>
<html lang="en">
<head>
    <title>Flask Todo Api</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/styles/main.css" type="text/css">
    <link rel="icon" href="/static/img/todo-list-favicon.png" type="image/png">
</head>
<body>

<h1>My TODOs!</h1>

<div class="list" id="app">
    <div class="add">
        <button v-on:click="addTodo">+ Add a New Task</button>
    </div>
    <todo-item
            v-for="todo in todos"
            v-bind:key="todo.id"
            v-bind:todo="todo"
            v-on:delete="deleteTodo(todo)"
            v-on:save="saveTodo(todo)"
            v-on:editing-complete="updateTempTodo(todo)"
            v-on:todo-completed="sortTodos()"
    ></todo-item>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="/static/scripts/app.js"></script>
</body>
</html>